.component--header {
    $bg: $emerald;
    color: #fff;

    background: $bg;
    border-bottom: 5px solid $nephritis;
    padding: 20px;
    cursor: pointer;

    h1, h3 {
        line-height: 1.5;
        margin: 0;
    }
}
